/* Set the background color for the whole document */
body {
  background-color: #00b3e6;
}

/* Style for all div elements */
div {
  width: 700px;
  margin: auto; /* Centers the element */
  font-family: "Helvetica Neue", sans-serif;
  background-color: white;
  padding: 30px; /* Creates space around the content inside the div */
}

/* Style for the element with the id "main-header" */
#main-header {
  font-size: 22px;
}

/* Style for elements with the class "perspective-questions" */
.perspective-questions {
  font-style: italic;
}

